<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.component.css">
</head>
<body>
    <header>
        <h1>Welcome {{ name }} </h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">My Network</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">My Profile</a></li>
        </ul>
    </nav>
 
      


</body>
</html>