<!-- <p>job-rejection-dialog works!</p> -->
<!-- job-rejection-dialog.component.html -->
<!-- mat-dialog-title -->
<div class="card">
<h2>Rejection Details</h2>
 <p>Rejection for the job: {{data.jobTitle}}</p>
<mat-dialog-content>
  <mat-form-field>
    <textarea matInput placeholder="Reason for rejection" [(ngModel)]="rejectionReason"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancelClick()" color="warn">Cancel</button>
  <button mat-raised-button (click)="onConfirmClick()" color="primary" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
</div>
