
<nav id="nav-c" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <img class="logo" src="assets/admin/TUT_Alumni_SpaceLogo.jpg"  width="100px" height="100px">
        <a class="navbar-brand" href="#">TUT_ALUMNI_SPACE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="spacer"></div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/about">About</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/login">Sign-In</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/register">Sign-Up</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/contacts">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>