
<div class="container">
    <h1>Resume of {{alumni?.name}} {{alumni?.lastName}}</h1>
  <div class="row">
    <div class="col">
      <div class="alumni-details2">
      <div class="alumni-pic">
        <img [src]="alumni?.alumnipic" alt="Alumni Picture">
      </div>
     <div class="Other-info">
      <h2>About Me</h2>
      <p> {{alumni?.Bio}}</p>
       <p>Name(s): {{alumni?.name}}</p>
       <p>Surname: {{alumni?.lastName}}</p>
       <p>Address: {{alumni?.address}}</p>
       <p>Email: {{alumni?.email}}</p>
       
     </div>
    </div>
    </div>
    <div class="col ">
      <div class="alumni-details">

        <h2>Knowledge and Skills</h2>
        <h3>Skills:</h3>
        <div *ngFor="let skill of alumni?.skills; let i = index">
          <!-- <p>Skills: </p> -->
               <!-- <ul style="list-style: none;"> -->
                <li> {{skill}}</li>
                <!-- <li>{{skill[i]}}</li> -->
               <!-- </ul> -->

               </div>
            
        </div>
        
         
        <h3>Education information</h3>
           
        <p>Experience: {{alumni?.experience}}</p>
             <!-- <li>N yrs exp.</li> -->
        
         <p>Qualification: {{alumni?.qualification}}</p>
    </div>
         <div class="Achievements">
          <h3>List of Achievements</h3>
          <li *ngFor="let certificate of alumni?.certificates; let i = index">
          Certicate Name [{{i+1}}] :<a href="{{alumni!.certificates[i]}}">{{alumni!.certificateNames[i]}}</a>
           
        </li>
        </div>
       </div>
       <div class="other-uploads">
          <h2>Other uploads</h2>
           <p>Identity Document:<a href="{{alumni!.idCopy}}" target="_blank" style="display: block; width: 80%; text-align: center; height: 25%; margin-left: 10px; margin-right: 10px; border: 1px solid #ddd;">ID of {{alumni!.name}} {{alumni?.lastName}}</a></p>
           <p>Motivational Letter: <a href="{{alumni?.motivationalLetter}}" target="_blank" style="display: block; width: 80%; text-align: center; height: 25%; margin-left: 10px; margin-right: 10px; border: 1px solid #ddd;">Letter of {{alumni!.name}} {{alumni?.lastName}}</a></p>
       </div>
    </div>