<!DOCTYPE html>
<html ng-app="contactApp">
<head>
    <meta charset="UTF-8">
    <title>Contact Information</title>
    <link rel="stylesheet" type="text/css" href="contacts.component.css">
</head>
<body ng-controller="ContactController as vm">
    <header>
        <h1>Contact Information</h1>
    </header>
    <main>
        <section>
            <h2>Address</h2>
            <p> Block K, 2 Aubrey Matlakala St, Soshanguve 
                - K, Soshanguve, 0152</p>
        </section>
        <section>
            <h2>Contact</h2>
            <p>Email:(general@tut.ac.za)</p>
            <p>Phone:( 086 110 2421)</p>
        </section>
    </main>

    <!-- Include AngularJS script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Include your AngularJS app and controller -->
    <script src="app.js"></script>
</body>
</html>