<link rel="stylesheet" href="./user-post.component.css">
<div class="card">
<div class="posted-Story">
    <p>{{caption}}</p>
    <div class="posted-photo">
        <!-- <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="onProfilePicChange($event)" class="form-control" id="profile_picture" aria-describedby="inputGroupFileAddon04" aria-label="Upload"> -->
        <img [src]="imageFile ? imageFile : ''" alt="Event Image Preview" style="max-width: 300px;"><br>
    </div>
</div>
</div>