header {
  background-color: #000;
  color: white;
  padding: 25px 0;
  position: relative; 
}
 img {
  position: absolute;
  top: 5px; 
  left: 20px;
  width: 190px;
  height: 95px;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
 
}

h1 {
  font-size: 50px;
  margin: 0;
  flex-grow: 1; 
text-align: center; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 15%;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}
