<header>
    <div class="header-content">
      <a routerLink="/"><img src="assets/WhatsApp Image 2023-11-03 at 09.36.12.jpeg" alt="TUT logo" width="100" height="50"></a>
      <h1>Ask A Question :-)</h1>
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/profile">My Profile</a>
        <a routerLink="/network">My Network</a>
        <a routerLink="/jobs">Jobs</a>
        <a routerLink="/events">Events</a>
        <a routerLink="/logout">Logout</a>
      </nav>
    </div>
  </header>
  
