<!-- <p>admin-footer works!</p> -->
<footer class="footer">
    <div class="container">
      <!-- <span class="text-muted">Alumni Space App &copy; 2023</span> -->
      <p>Tut-Alumni_Space App &copy; 2023</p>
      <span class="text-muted">Follow us on:</span>
        <a href="https://www.facebook.com" target="_blank" rel="noopener" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
  </footer>

