.footer {
    position: bottom;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-bottom: 30px; */
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px 5px blue;
  }
  .footer p{
    margin-top: 10px;
     font-size: 20px;
     color: #fff;
  }
  .social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
  }