<!-- <p>alumni-resume works!</p> -->
<div class="card">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <!-- Form field 1 -->
          <mat-form-field>
            <input matInput placeholder="Field 1">
          </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile>
          <!-- Form field 2 -->
          <mat-form-field>
            <input matInput placeholder="Field 2">
          </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile>
          <!-- Form field 3 -->
          <mat-form-field>
            <input matInput placeholder="Field 3">
          </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile>
          <!-- Form field 4 -->
          <mat-form-field>
            <input matInput placeholder="Field 4">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      

</div>
