.container{
    width: auto;
    height: auto;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    background-color: floralwhite;
}
.mat-grid-tile {
    background: aliceblue;
    /* height: auto; */
    /* width: 400px; */
    display: block;
  }
  .horizontal-line{
    width: 1px; /* Adjust the width of the line */
    height: 100%; /* Adjust the height of the line */
    background-color: black; /* Adjust the color of the line */
    margin: 0 auto; /* Center the line horizontally */
    transform: rotate(180deg); /* Rotate the line to be vertical */
    /* margin-right: 10px;
    margin-left: 10px; */
    margin-bottom: 10px; 
    margin-top: 6px;
  }
  .right-side-content{
    
     margin-left: 60%;
     margin-top: 10px;
  }

  .left-side-content{ 
    margin-right: 60%;
    /* padding-bottom: 98%; */
    /* margin-top: -20%; */
 }
 .alumni-pic{
   border: 3px solid black;
   width: 100px;
   height: 100px;
 }
 .alumni-pic img{
    width: 95px;
    height: 95px;
 }
 .alumni-details{
      border: 5px solid whitesmoke;
      margin-right: 90%;
      height: auto;
      width: 600px;
 }