<!-- <p>alumni-resume works!</p> -->
<!-- <div class="card"> -->
                    <!-- <div class="horizontal-line"></div> -->
          <!-- <div class="right-side-content"> -->
            
              <!-- <div class="alumni-pic">
                 <img src="../../assets/Sihle.jpg">
              </div>
              <div class="Other-info">
                <p>Name: </p>
                <p>Surname: </p>
                <p>Email: </p>
                <p>Experience: </p>
                <p>Skills: </p>
              </div>
          </div>
            
               
           <div class="left-side-content">

             <div class="alumni-details">
            
              <h1>Basic details</h1>
              <p>Name: </p>
              <p>Surname: </p>
              <p>Email: </p>
              <p>Experience: </p>
              <p>Skills: </p>
             </div>
            </div> -->

            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="alumni-pic">
                    <img src="../../assets/Sihle.jpg">
                  </div>
                 <div class="Other-info">
                  <p>Bio: </p>
                   <p>Name: </p>
                   <p>Surname: </p>
                   <p>Email: </p>
                   
                 </div>
                </div>
                <div class="col ">
                  <div class="alumni-details">
            
                    <h1>Basic details</h1>
                    
                    <div>
                      <p>Skills: </p>
                    </div>
                    <p>Experience: </p>
                    <div>
                      <p>Interests: </p>
                    </div>
                     <p>Qualification</p>
                     <div>
                      <h2>List of Achievements</h2>
                       <p>Certicates names</p>
                     </div>
                   </div>
                </div>
              </div>
            </div>
            
            <!-- <div class="horizontal-line"></div> -->
        
      

<!-- </div> -->
