.card{
    padding: 0;
    margin-bottom: 10px;
    /* height: auto;
    width: auto; */
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px 5px blue;
    background-color: aliceblue;
}
.header h1{
    text-align: center;

}
.round-image {
    border-radius: 50%;
    border: 2px solid blue;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.top-content{
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    padding-left: 40%;
    width: auto;

}
.alumni-table {
    /* margin-bottom: 30%; */
    height: auto;
    width: auto;
    /* border: ridge blue; */
    padding-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.alumni-table table{
    width: auto;
    height: auto;
}
.alumni-toggler{
  padding-bottom: 10px;
  text-align: left;
  margin-left: 10px;
  /* margin-right: 10px; */
  
}