<!-- <p>track-alumni works!</p> -->
<div class="container-fluid">
    <div class="header">
        <h1>List of Alumni</h1>
    </div>
    <hr>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 
        <!-- Position Column -->
  <ng-container matColumnDef="alumni_Id">
    <th mat-header-cell *matHeaderCellDef> Alumni_Id </th>
    <td mat-cell *matCellDef="let element"> {{element.alumni_Id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="alumniName">
    <th mat-header-cell *matHeaderCellDef> Alumni_Name </th>
    <td mat-cell *matCellDef="let element"> {{element.alumniName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Alumni_Location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <!-- Symbol Column -->
   <ng-container matColumnDef="qualification"> 
    <th mat-header-cell *matHeaderCellDef> Qualification </th>
    <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
  </ng-container>

 <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef> skills </th>
    <td mat-cell *matCellDef="let element"> {{element.skills}} </td>
  </ng-container> 

  <ng-container matColumnDef="Experience">
    <th mat-header-cell *matHeaderCellDef>  Experience </th>
    <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
  </ng-container> 

  <!-- <ng-container matColumnDef="symbol"> 
    <th mat-header-cell *matHeaderCellDef>  Employment_Status </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>  -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
