

input {
    width: 100%;
    padding: 6px 15px 6px 15px;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: medium;
    border-left: none;
}


h1 {
    margin: 0;
}



#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;

    margin-bottom: 12px;
}

#contactsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  
}
#contactsList li{
    width: 100%;
}

#contactsList li a {
    border-bottom:3px;
    border-bottom-style:solid;
    border-bottom-color: #ddd;

    margin-top: -1px;
    /* Prevent double borders */
    background-color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;

    color: black;
    display: block
}

#contactsList li a:hover:not(.header) {
    background-color: #eee;
}

.my-network-header{
  
    display: inline-flexbox;
}
.my-network-header a{
    float: right;
    width: 100%;
    text-align: right;
    padding-right: 50px;
    text-decoration: none;
    color: black;; 
    
}
.search-input input{
    background-color: black;
    color:white;
    
    
}
::placeholder{
    color: white;
}
li{
border-left: none;
} 
.profile-pic :hover{
border-color:blue ;
}
.profile-pic {

width: 45px;
height: 45px;
border: solid;
border-radius: 50%;
border-color:green ;
float: left;
margin-right: 15px;


background-image: url("profilePic.png");
background-size: cover;
background-repeat: no-repeat;
}
.container {
    position: relative;
display: inlink;
width: 100%;
height: 100%;
margin-top: 100px;


     
  }
  .chat-list {
        
          margin: 16px;
          background: #c5cae9;
          border-radius: 16px;
  }

  
  .messages {
          width: 45%;
          padding: 24px;
          margin-top: 100px;
          margin-left: 8px;
          border-radius: 16px;
          background: rgba(0,0,0,0.05);
          float: right;
  }

  .onlinebox{
      display: flex;
      background-color: #c2d3e9;
      border-style: solid;
      border-color: black;
      float: left;
      width: 40%;
   
  
  }
  .flex-child {
      flex: 1;
  }
  
  .code-block {
      display: none;
      font-size: small;
  }
  
  .flex-child:first-child {
      flex: 2;
      margin-right: 10px;
      margin-top:9px;
      background-color: rgb(249, 249, 249);
      flex-direction:column;
      max-height: 510px;
      height:510px;
      overflow:auto;
  } 
  

  
  html * {
      font-family: 'Poppins';
  }
  
  input {
      width: 75%;
      padding: 6px 15px 6px 15px;
      box-sizing: border-box;
      border-radius: 12px;
      font-size: medium;
  }
  
  
  h1 {
      margin: 0;
  }
  
  .messageYou {
      width: 90%;
      padding: 6px 20px;
      margin: 8px;
      background-color: #c2d3e9;
      border-style: solid;
      border-color: black;
      border-width: 2px;
      box-sizing: border-box;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow-wrap: break-word;
      float: right;

  }
  
  .messageThem {
      width: 90%;
      padding: 6px 20px;
      margin: 8px;
      background-color: #f3f3f3;
      border-style: solid;
      border-color: black;
      border-width: 2px;
      box-sizing: border-box;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow-wrap: break-word;
      float: left;
  }
  
  .youText {
      float: right;
  }

  
  .messageTime {
      font-size: x-small;
      float: right;
  }
  * {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
  .profile-pic {
    
    width: 45px;
    height: 45px;
    border: solid;
    border-radius: 50%;
    border-color:green ;
    float: left;
    margin-right: 15px;
  
   
    background-image: url("../profilePic.png");
    background-size: cover;
    background-repeat: no-repeat;
   }
    .contactsList{
      float:left;
      width: 50%;
      margin:auto;
    }
    #group-modal{
      display: none;
      position: fixed; /* Stay in place */
      margin-top: 100px;
      padding-top: 100px; /* Location of the box */
       left: 0;
      top: 0;
    width: 100%; /* Full width */
  height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w*/
    }
#group-form{
font: bold;
font-size: large;
color: white;
margin: auto;
}