
  <!--  Chat in fewer than 10 lines of JavaScript code using PubNub JavaScript SDK -->
<!--  This demo also contains helper and UI code.  For beginning of PubNub code, scroll down to "Begin count:..." -->
<!DOCTYPE html>
<html lang="en">

<head>
  
 
  <title>My Chat</title>
  <!--  Code syntax highlighting -->
 



</head>



<div class="container">

  <div class="contactsList">
            <div class="search-input">
                <input type="text" id="myInput"  placeholder="Networks" [(ngModel)]="filterText">
            </div>
            <div class="my-network-header">
                <h2>
                    <a (click)="newGroup()">New Group</a>
                </h2 >
                <h2 >BroadcastList</h2>

    

            </div>
            <div id="group-modal">
              <table id="group-form">
                <thead>
                  <td>Create New Group</td>
                </thead>
                <tr>
                  <td>Name</td>
                  <td><input [(ngModel)]="groupName" id="goupName"type="text" required/></td>
               
                </tr>

                <tr>
                  <td> <button (click)="addGroup()">ADD</button></td>
                  <td> <button (click)="cancelAdd()">CANCEL</button></td>
                </tr>
              </table>
           </div>
            <div class="contactsList" >
                <div *ngFor="let user of filtedUsers">
                    <ul id="contactsList" >
                        
                        <li (click)="selectContact(user.name)"><div class="profile-pic"></div><a routerLink="chat" >{{user.name}}</a></li>
                    </ul> 
                  </div>
            </div>
  </div>
    <div class="messages">
      <div class="profile-pic"></div>
      <h2 id="selected">Alumni Chat Bot</h2>
  
      <div id="outputDiv" class="flex-child" style="margin-top: 50px;">
        <div *ngFor="let message of messageList">
        
          <p class={{message.sender}}>

              <span >{{message.text}}</span><br>
              <span class="messageTime" >{{message.date}}</span>
          </p>  
        </div>
      </div>

        <input  [(ngModel)]="newMessage.text" (keyup)="$event.keyCode == 13 && sendMessage()" />
        <button (click)="sendMessage()">Send Message</button>
 

    </div>
   
    </div>





<script src="/socket.io/socket.io.js"></script>
 
</html>


