/*app.component.css*/
.question {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-style: normal;
    margin-top: 0%;
    padding-right: 20%;
    text-align: center; 
    margin-left: 10%;
}