.card-body p{
 text-align: center;
 position: relative;
/* background-color: black;
color: yellow;
font-weight: 100px; */
margin-left: 20px;
width: 200px; 
height: 25px; 
margin-top: 50px;
/* padding: translateY(40px); */
}