body {
    font-family: Arial, sans-serif;
   /* background-color: #f0f0f0;*/
    margin: 0;
    padding: 0;

      /*  display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;*/
        background-image: url('../assets/alumni.jpeg');
       /* background-size: cover;
        background-position: center;*/


}

header {
    background-color: #0077b5;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

.profile {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile img {
    max-width: 100px;
    border-radius: 50%;
}