body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color:turquoise;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    justify-content: center;
    align-content: center;
    /*background-image: image('background.jpg');*/
}
.wrapper h2{
    text-decoration: none;
    text-transform: uppercase;
    color: blueviolet;
    text-align: center;
}
.wrapper p{
    text-decoration: none;
    text-transform: lowercase;
    color: white;
    text-align: center;
}
.wrapper input{
    align-content: space-between;
}
.wrapper2{
    background-color:turquoise;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    justify-content: center;
    align-content: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.team-section, .mission-section {
    padding: 20px;
}

.team-member {
    text-align: center;
    margin: 20px;
}

.team-member img {
    max-width: 100px;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}