<header class="header header-sticky mb-4">
  <div class="navbar">
    <!-- <a class="nav-link navbar-link" href="assets/TUT_Alumni_SpaceLogo.jpg">
      <img src="assets/TUT_Alumni_SpaceLogo.jpg" style="width: 500px; height: auto; object-fit: cover;" alt="TUT Logo" class="tut-logo" />
      <p>TUT_Alumni-Space</p>
    </a> -->
    <div class="navbar-content">
      <a class="nav-link navbar-link">
        <!-- href="assets/TUT_Alumni_SpaceLogo.jpg" -->
        <img src="assets/admin/TUT_Alumni_SpaceLogo.jpg" style="width: 60vh; height: auto;" alt="TUT Logo" class="tut-logo" /><!--object-fit: cover;-->
        <!-- <p>TUT_Alumni-Space</p> -->
      </a>
       <!-- <div class="">
         <span class="doc-search-bar">

         </span>
       </div> -->
       
       <div class="input-group mb-3">
        <div *ngIf="isSearch" class="card-tip">
          <!--close icon for the card-->
          <div class="close" onclick="this.parentElement.style.display='none'">
            <i class="fas fa-times"></i>
          </div>
          <!--search results goes here-->
          <!-- <p>{{searchResults}}<p> -->
          </div>
        <input type="text" class="form-control" style="height: 40px; width: 10px;" id="admin-search" [(ngModel)] ="Search" name="Search" placeholder="SEARCH" aria-label="Admin search" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="button" id="button-addon2" style="border-style: none; height: 40px;"><svg (click)="searchAnything()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
      </div>
     

      <a class="navbar-link active" routerLink="/admin/dashboard"><svg
        xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
        class="bi bi-speedometer" viewBox="0 0 16 16" style="margin-right: 10px;">
        <path
          d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
        <path fill-rule="evenodd"
          d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
      </svg>Home<br>Dashboard</a>

      <a class="navbar-link" routerLink="/admin/trackAlumni"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16" style="margin-right: 10px;">
        <path
          d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      </svg>Track Alumni</a>

      <a class="navbar-link" routerLink="/admin/post-events"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16" style="margin-right: 10px;">
        <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
        <path
          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
      </svg>Post Events</a>

      <a class="navbar-link"routerLink="/admin/post-jobs"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="margin-right: 10px;">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>Post Jobs</a>

      <a class="navbar-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16" style="margin-right: 10px;">
        <path
          d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        <path
          d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
      </svg>View/Respond Queries</a>

      <a class="navbar-link" routerLink="/admin/view-report"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>View report</a>

      <a class="navbar-link" routerLink="/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16" style="margin-right: 10px;">
        <path fill-rule="evenodd"
          d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
        <path fill-rule="evenodd"
          d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
      </svg>Logout</a>
      
      <!-- <a class="nav-link navbar-link" routerLink="/adminNotifications">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
        </svg>
        <span class="notification-badge">{{notificatinId}}</span>
      </a> -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blueviolet" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg> -->

        <!-- <div class="show-AdminProfile"> -->
          <!-- class="bi bi-toggle-off" --> 
               <!-- <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" [ngClass]="{'bi-toggle-on': isAdminProf, 'bi-toggle-off': !isAdminProf}" viewBox="0 0 16 16">
                  <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
               </svg> -->

               <!--or this icon-->
               <svg (click)="ShowAdminProfile()" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        <!-- </div> -->
      <a>
        <div *ngIf="isAdminProf" class="card">
          <div class="image-container">{{adminFnLletter}}</div>
        <svg class="online-status" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="5" cy="5" r="5" style="color: rgb(64, 255, 17);" />
            </svg>
          <div class="card-body">
              <h3>Admin Profile</h3>
          <div class="user-info ml-3">
            <!-- style="color: darkblue; font-weight: bold;" -->
            <p>Admin Name: {{adminFname}} {{adminLname}}</p>
            <p class="card-text">Role: Adminstrator</p>
            <p>contact-no: {{contact_No}}</p>
            <p>address: {{address}}</p>
            <p>email: {{email}}</p>
          </div>

          <!-- <div class="notification-icon" routerLink="/All-Notifications">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-bell" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
            </svg>
            <span class="notification-badge">{{notificatinId}}</span>
          </div> -->
           
          <div class="update-profilebtn">  
              <button type="button" class="btn btn-success" (click)="editAdminProfile()">edit profile</button>
          </div>
          <div *ngIf="isEditAdminProf" class="card2">
            
            <div class="editP-header">
              
              <h1>Edit Profile</h1>

            </div>
            
            
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default" [(ngModel)]="newName" name="newName" placeholder="{{adminFname}} {{adminLname}}">
            </div>
            <!-- newcontact_No -->
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">contact-no:</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" [(ngModel)]="newcontact_No" name="newcontact_No" placeholder="{{contact_No}}">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">address:</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" [(ngModel)]="newAddress" name="newAddress" placeholder="{{address}}">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">email:</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" [(ngModel)]="newEmail" name="newEmail" placeholder="{{email}}">
            </div>
              <div class="editAdmniP-buttons">
                  <button type="button" class="btn btn-success" (click)="SaveAdminProfile()">Save profile</button>
              </div>
          </div>

        </div>
      </div>
      </a>
    </div>
  </div>

</header>