.container{
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    background-color: aliceblue;
}
.container h1{
    text-align: center;
    font-size: 40px;
}
.form{
    padding: 20px;;
}