<!-- <p>admin-job-applications works!</p> -->
<app-navbar></app-navbar>
<div class="container">
  <h1>Job Applications Track</h1>
<div *ngFor="let application of applications; let i = index">
    <p>[{{i+1}}] Application from {{ application.fullNames }} {{ application.lastName }},</p>
    <p>applied for {{ application.jobAppliedFor}} job</p>
    <!-- Display alumni resume using AlumniResumeComponent -->
    <form>
      <button mat-raised-button class="btn btn-outline-info" (click)="toggleAlumniResume()">view resume</button>
    </form>
    <!-- <div *NgIf="removeApplication" > -->
    <app-alumni-resume [alumni]="application"></app-alumni-resume>
  
    <!-- Add a form or buttons to respond to the application -->
     <!-- <h2>List of Available Jobs</h2>
    <div *ngFor="let application of applications">
      <h4>{{ application.jobAppliedFor}}</h4> -->
      <!-- other application details -->
      <!-- Add a button to open the interview dialog -->
      
    <!-- </div> -->
    <form (submit)="respondToApplication(application, 'Accepted?')">
      <!-- <button type="submit" class="btn btn-outline-info">Accept Application</button> -->
      <!-- <button mat-raised-button class="btn btn-outline-info" (click)="acceptApplication()">Accept Application</button> -->
      <button mat-raised-button (click)="openInterviewDialog(application)" style="margin-top: 10px;">Accept Application</button>
      
    </form>
    
    <form (submit)="respondToApplication(application, 'Rejected')">
      <button mat-raised-button class="btn btn-outline-info" (click)="rejectApplication()" style="margin-top: 10px;">Reject Application</button>
    </form>
    
    </div>
    <br>
   </div>
  <!-- </div>  -->
<!-- </div> -->
  