<!-- <p>admin-job-applications works!</p> -->
<!-- <app-navbar></app-navbar>
<div class="container">
  <h1>Job Applications Track</h1>
<div *ngFor="let application of applications; let i = index">
    <p>[{{i+1}}] Application from {{ application.fullNames }} {{ application.lastName }},</p>
    <p>applied for {{ application.jobAppliedFor}} job</p>
    - Display alumni resume using AlumniResumeComponent -
     <div>
      <button mat-raised-button class="btn btn-outline-info" (click)="toggleAlumniResume(application)">View Resume</button>
    </div>
    
    <div *ngIf="removeApplication"> 
      <app-alumni-resume [alumni]="selectedAlumni"></app-alumni-resume>
    </div>
   
      
    
    <form (submit)="respondToApplication(application, 'Accepted?')">
      <button mat-raised-button (click)="openInterviewDialog(application)" style="margin-top: 10px;">Accept Application</button>
      
    </form>
    
    <form (submit)="respondToApplication(application, 'Rejected')">
      <button mat-raised-button  (click)="openRejectionDialog(application)" style="margin-top: 10px;">Reject Application</button>
    </form>
    
    </div>
    <hr />
   </div> -->

   <!--new-->
   <!-- <p>admin-job-applications works!</p> -->
<app-navbar></app-navbar>
<div class="container">
  <h1>Job Applications Track</h1>
  <!--job application table-->
  <table class="table">
    <thead>
      <tr>
        <th>Alumni_Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>JobApplied For</th>
        <th>Application Status</th>
        <th>Shortlisted</th>
        <th>Interview Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

  <div *ngFor="let application of applications; let i = index">
    <p>[{{i+1}}] Application from {{ application.fullNames }} {{ application.lastName }},</p>
    <p>applied for {{ application.jobAppliedFor}} job</p>
    
    <div>
      <button mat-raised-button class="btn btn-outline-info" (click)="toggleAlumniResume(application)">View Resume</button>
    </div>
    
    <div *ngIf="selectedAlumni === application"> 
      <app-alumni-resume [alumni]="selectedAlumni"></app-alumni-resume>
    </div>
    
    <form (submit)="respondToApplication(application, 'Accepted?')">
      <button mat-raised-button (click)="openInterviewDialog(application)" style="margin-top: 10px;">Accept Application</button>
    </form>
    
    <form (submit)="respondToApplication(application, 'Rejected')">
      <button mat-raised-button (click)="openRejectionDialog(application)" style="margin-top: 10px;">Reject Application</button>
    </form>
    
    <hr />
  </div>
<!-- </div> -->

 
  