<div class="container">
    <div>
        <h1> Logged In As {{username}}</h1>
    </div>
    <div class="contactsList-container">
        <div class="search-input">
            <input type="text" id="myInput" placeholder="Networks" [(ngModel)]="filterText">
        </div>
        <div class="my-network-header">

            <h2>My Connections</h2>



        </div>
        <div id="group-modal">
            <table id="group-form">
                <thead>
                    <td>Create New Group</td>
                </thead>
                <tr>
                    <td>Name</td>
                    <td><input [(ngModel)]="groupName" id="goupName" type="text" required /></td>

                </tr>

                <tr>
                    <td> <button (click)="addGroup()">ADD</button></td>
                    <td> <button (click)="cancelAdd()">CANCEL</button></td>
                </tr>
            </table>
        </div>
        <div class="contactsList" style="overflow-x: hidden;overflow-y: auto;">
            <div *ngFor="let user of filtedUsers">
                <ul id="contactsList">

                    <li (click)="selectContact(user.name,user.id.toString(),user.role)">
                        <div class="profile-pic"></div><a routerLink="chat">{{user.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="messages">

        <div class="profile-pic"></div>
        <h2 id="selected">Alumni Chat Bot</h2>

        <div id="outputDiv" class="flex-child" style="overflow-x: hidden;overflow-y: auto;">
            <div id=outputDiv-box *ngFor="let message of messageList; let last=last">






                <div *ngIf="last; else elseBlock">
                    <p *ngIf="last" class={{message.sender}} id="lastMessage">

                        <span>{{message.text}}</span><br>
                        <span class="messageTime">{{message.date}}</span>
                    </p>
                </div>
                <ng-template #elseBlock>
                    <p class={{message.sender}}>

                        <span>{{message.text}}</span><br>
                        <span class="messageTime">{{message.date}}</span>
                    </p>
                </ng-template>
            </div>
        </div>

        <input [(ngModel)]="newMessage.text" (keyup)="$event.keyCode == 13 && sendMessage()" />
        <a href="#lastMessage" target="_self">
            <button (click)="sendMessage()">Send Message</button>
        </a>

    </div>

</div>