
  
    <app-navbar></app-navbar>
  <div class="container">
  <div class="main-container">
      <div class="main">
        <div class="top-section">
            <!-- <app-top-widgets></app-top-widgets> -->
             <h1>{{welcomeMessage}} {{adminName}}<br>Time: {{time}}</h1>
          </div>
      <div class="middle-section">
            <div class="widget left">
              <app-alumni-stats></app-alumni-stats>
            </div>
            <div class="widget right">
              <app-events-stats></app-events-stats>
              </div>

              <div class="small">
                <h2> Our partners:</h2>
                 <img src="assets/AWS-Logo.png" width="100px" height="auto">
                 <!-- <img src="assets/AWS-Logo.png" width="50px" height="auto"> -->
              <!-- </div>
              <div class="small-box"> -->
                <br>
                <br>
                 <img src="assets/HuaweiLogo.png" width="100px" height="auto">
                 <br>
                 <br> 
                 <img src="assets/MTNlogo.png" width="100px" height="auto">
              </div>
              <!-- <div class="image-container">
                <div class="slideshow-container">
                  <div *ngFor="let image of images" class="mySlides fade">
                    <img [src]="image" style="width:100%">
                  </div>
                </div>
              </div> -->
      </div>
      <div class="bottom-section">
           <div class="widget left">
              <app-last-few-notifications></app-last-few-notifications>
           </div>
           <div class="widget right">
               <app-jobs-stats></app-jobs-stats>
           </div>
       </div>
    </div>
  </div>

</div>
