<!-- 

   <app-navbar></app-navbar>
   <div class="card">
   <div class="container">
     <h1>Job Applications Track</h1>

     <div class="job-table">
     <table class="table">
       <thead>
         <tr>
           <th>Alumni_Id</th>
           <th>FirstName</th>
           <th>LastName</th>
           <th>JobApplied For</th>
           <th>Application Status</th>
           <th>Shortlisted</th>
           <th>Interview Date</th>
           <th>Interview Time</th>
           <th>Actions</th>
           
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let application of applications; let i = index">
           <td>{{i+1}}</td>
           <td>{{ application.fullNames }}</td>
           <td>{{ application.lastName }}</td>
           <td>{{ application.jobAppliedFor }}</td>
           <td>{{ application.applicationStatus }}</td>
           <td>{{ application.shortlisted}}</td>
           <td>{{ application.interviewDate }}</td>
           <td>{{application.interviewTime}}</td>
           <td>
              <div class="Actions-btns">
             <button mat-raised-button class="btn btn-outline-info" (click)="toggleAlumniResume(application)"  color="primary">View Resume</button>
             <button mat-raised-button (click)="openInterviewDialog(application)" style="margin-left: 5px;"  color="primary">Accept Application</button>
             <button mat-raised-button (click)="openRejectionDialog(application)" style="margin-left: 5px;"  color="primary">Reject Application</button>
             <button mat-raised-button (click)="openSuccessDialog(application)" style="margin-left: 5px;"  color="primary"> Application Succeed</button>
             <button mat-raised-button (click)=" deleteApplication(application)" style="margin-left: 5px;"  color="primary">Delete application</button>
      
              </div>
           </td>
         </tr>
       </tbody>
     </table>
     </div>
  
       <div class="View-card">
         <div class="exit-btn">
           <button mat-raised-button (click)="closeResume(applications)"  color="primary">close</button>
         </div>
     <div *ngFor="let application of applications; let i = index">
       
       <div *ngIf="selectedAlumni === application"> 
      
       </div>
   
     </div>
     </div> 
   </div>
   </div>
   <app-admin-footer></app-admin-footer>
   
    
      -->