
<link rel="stylesheet" href="../admin-table/admin-table.component.css">
<app-navbar></app-navbar>
<div class="container-fluid">
<h1>Admin Queries</h1>
<table>
  <tr>
    <th>Alumni</th>
    <th>Query</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let row of data; let i = index">
    <td>{{ row.user }}</td>
    <td>{{ row.query }}</td>
    <!-- <td>{{ row.status }}</td> -->
    <td>
      {{row.status}}
    <span *ngIf="row.timeStamp"> - {{row.timeStamp | date: 'medium'}}</span>
   </td>
    <td>
      <button type="button" class="btn btn-outline-primary" (click)="toggleResponseForm(i)">Respond</button>
      <div class="response-form" [ngStyle]="{ display: responseForms[i] ? 'block' : 'none' }">
        <textarea [(ngModel)]="row.response"></textarea>
        <button type="button" class="btn btn-primary" (click)="submitResponse(i)">Submit</button>
      </div>
    </td>
  </tr>
</table>
</div>
<app-admin-footer></app-admin-footer>
