
<link rel="stylesheet" href="./tract-application.component.css">
<!-- <app-navbar></app-navbar> -->
<div class="return-home">
  <a (click)="returnHome()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="30"
      fill="currentColor"
      class="bi bi-arrow-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
      ></path>
    </svg>
    go home
  </a>
</div>
<div class="container-fluid">
<h1>My Application Status</h1>


<table class="table">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Application Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of appData; let i = index; trackBy: trackByFn">
      <td>{{ row.saved_job_title }}</td>
      <td>{{ row.application_date }}</td>
      <td>{{ row.application_status }}</td>
      <td>
        <span *ngIf="row.timeStamp"> - {{ row.timeStamp | date: 'medium' }}</span> 
      </td>
      <td>
        <div class="Actions-btns">
          <button type="button" class="btn btn-outline-primary" (click)="toggleResponseForm(row)" color="primary">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


