/* apply-page.component.css */

.apply-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: blue;
  }
  
  input, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
  }
  
  button {
    background-color: rgb((33, 18, 172) 76, 175);
    color: rgb(46, 29, 124);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-style: ;
  }
  