body {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
  }
  
  
  
  body .h1{
    color: #000;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  
  .card {
    padding: 10px 10px 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    display: flex; 
    flex-direction: row; 
    max-width: 100%;
  }
    
  .card-body {
    padding: 0 20px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
  }
  
  .card-body h3{
    display: flex;
    align-items: right;
    margin-left: 60%;
    margin-top: -60%;
  }
  
  .card-body p{
    display: flex;
    align-items: right;
    margin-left: 60%;
  }
  
  nav img {
    width: 40%;
    border-radius: 100%;
    display: flex;
  }
  
  .wrapper {
      background-color: transparent;
      padding: 20px;
      border: 1px solid #ccc;
      margin: 20px;
      justify-content: center;
      align-content: center;
      padding: 20px;
    
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    
  
    max-width: 50%;
  }  
  .wrapper h2{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: xx-large;
  
  }
  .wrapper p{
      text-decoration: none;
      text-transform: lowercase;
      color: black;
      font-size: large;
  }
  
  .wrapper input{
      align-content: space-between;
  }
  .wrapper2{
      background-color: transparent;
      padding: 20px;
      border: 1px solid #ccc;
      margin: 20px;
      justify-content: center;
      align-content: center;
      padding: 20px;
    
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    
  
      max-width: 50%;
  }